<%= form_with(model: task) do |form| %>
  <% if !task.nil? %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class ="container">
    <div class="form-group row">
       <div class="col-md-1">
          <%= form.label :title%>
        </div>
        <div class="col-md-3">
        <%= form.text_field :title, class: "form-control" %>
        </div>
    </div>
    <div class="form-group row">
       <div class="col-md-1">
        <%= form.label :description%>
        </div>
            <div class="col-md-3">
        <%= form.text_field :description, class: "form-control" %>
        </div>
     </div>
    <div class="form-group row">
       <div class="col-md-1">
        <%= form.label :status%>
        </div>

    <div class="col-md-3">
    <%= form.select :status, ['to-do', 'in-progress', 'done'], class:"btn btn-secondary dropdown-toggle" %>
    </div>
  </div>
    <div class="form-group row">
      <div class="col-md-3 offset-md-1">
        <%= form.submit "Save", :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
