<div class="container">

  <h1  class="text-center">Tasks</h1>

  <div class="flex justify-between items-center">

    <div class="row">
     
      <div class="col-md-3 offset-md-7">
        <%= form_tag(tasks_path, method: 'get') do %>
        <% label_tag 'status'%>
        <%= select_tag :status_filter, options_for_select(["to-do", "done", "in-progress"]), {:class => 'btn dropdown-toggle'}%>
        <%= submit_tag("Apply", :class=>"btn btn-primary") %>
        <% end %>
      </div>

       <div class="col-md-2">
        <% if @tasks.exists? %>
        <%= link_to 'Create a New task', new_task_path, class: "btn btn-outline-success" %>
        <% end %>
      </div>

    </div>
  </div>

  <% if @tasks.exists? %>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Progress</th>
          </tr>
        </thead>

        <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <%= link_to task.id, task, class: "btn btn-default" %>
            </td>

              <td><%= task.title %></td>
              <td><%= task.description %></td>
              <td><%= task.status %></td>
            
            <td>
              

                <% case task.status %>
                <% when "to-do" %>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                <% when "in-progress" %>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                <% when "done" %>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                <%end%>
                
             
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div>
      <div>
        <p>Create your first task</p>
      <%= link_to 'New task', new_task_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>