<p style="color: green"><%= notice %></p>



<table class="table table-bordered">
  <tr>
    <th scope="col">Title</th>
    <td> <%= @tasks.title %></td>
  </tr>   
  
  <tr>
    <th scope="col">Description</th>
    <td> <%= @tasks.description %></td>
  </tr>

  <tr>
    <th scope="col">Status</th>
    <td><%= @tasks.status %></td>
  </tr>
    <tr>
</table>

<div>

  <div class="row">
    <div class="col-md-3">
      <%= link_to "Edit Task", edit_task_path(@tasks.id), class: "btn btn-outline-info" %>
    </div>
    <div class="col-md-3">
      <%= link_to "Back to tasks", tasks_path, class: "btn btn-outline-warning" %>
    </div>
    <div class="col-md-3">
      <%= button_to "Delete", @task, method: :delete, class: "btn btn-danger"%>
    </div>
  </div>  
</div>